########################
# node.js / npm
########################
node_modules
npm-debug.log

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/.netbeans/**
**/.idea/**
**/tmp/**

**report.xml**
**config.js**
demo.js
